# unicodecsv
# git+https://github.com/aeroo/aeroolib.git@master
# pycups==1.9.68
# BeautifulSoup4
# python-magic
# gdata
# pysimplesoap
# fpdf
httplib2>=0.7
pysimplesoap==1.08.8
fpdf>=1.7.2
dbf>=0.88.019
Pillow>=2.0.0
# requests>=2.6.0
# pywin32==219
# xmltodict
# elaphe
suds
urllib3
acme-tiny
IPy
woocommerce
magento
psycogreen
pymssql
geopy==0.95.1 BeautifulSoup pyOpenSSL suds cryptography certifi
openerp-client-lib
fabric
erppeek
fabtools
xmltodict
dicttoxml
elaphe
cchardet
lxml
signxml
pysftp
xlwt
xlrd
BeautifulSoup4
python-magic
SOAPpy
erppeek
