psycogreen
M2Crypto
suds
geopy==0.95.1
BeautifulSoup
pyOpenSSL
openerp-client-lib
fabric
erppeek
fabtools
xlwt
xlrd
unicodecsv
git+https://github.com/aeroo/aeroolib.git@master
#pycups==1.9.68
BeautifulSoup4
python-magic
gdata
pysimplesoap
fpdf
pandas
