Babel
decorator
docutils
feedparser
gevent
greenlet
html2text
Jinja2
lxml
Mako
MarkupSafe
mock
num2words
ofxparse
passlib
Pillow
psutil
psycogreen
psycopg2
pydot
pyparsing
PyPDF2
pyserial
python-dateutil
python-openid
pytz
pyusb
PyYAML
qrcode
reportlab
requests
six
suds-jurko
vatnumber
vobject
Werkzeug
XlsxWriter
xlwt
xlrd